.image-carousel {
    margin-top: 20px;
    width: 100%;
    min-height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: transparent;
  
  }
  .image-carousel button {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .image {
      margin-top: 20px;
    max-width: 1400px;
    max-height: 500px;

    width: 100%;
    object-fit: cover;

  }

  .right-arrow {
      position: absolute;
      opacity: 0.5;
      top: 50%;
      right: 15%;
      font-size: 3rem;
      z-index: 10;
      cursor: pointer;
  }
  .left-arrow {
    position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 15%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
}
.left-arrow:hover, .right-arrow:hover {
    opacity: 0.80;
    transition-duration: 1s ease;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media only screen and (min-width: 950px){
    .image-carousel {
        min-height: 540px;
    }
}

@media only screen and (max-width: 1024px) {
    .left-arrow, .right-arrow {
        display: none;
    }
}