.product-images {
    max-width: 400px;
    margin: 10px 10px;
}

.product-details {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
.product-details p, .product-details h2 {
    width: 70%;
    text-align: center;
}
.back p {
    font-size: .8em;
    min-width: 150px;
}
.image-container {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.back {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}