header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  
  .top-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
  }

  .quote-button {
    background: linear-gradient(#B70D01, #5C0701);
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

  }

  .number {
    font-size: 2em;
    font-weight: bold;
  }
  .bottom-menu {
    width: 100%;
    background: linear-gradient(#B70D01, #5C0701);
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    color: white;
    min-height: 60px;
  }
  .bottom-menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    /* flex-flow: column; */
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 90%;

  }
  .bottom-menu a {
    text-decoration: none;
    color: white;
  }
  .bottom-menu li {
    font-size: 1.2em;
  }
.burger {
  cursor: pointer;
  margin-top: 10px;
}
 
  @media screen and (max-width: 1025px) {
    
    .menu {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: white;
      z-index: 11;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      color: black;

    }
    .bottom-menu a {
      color: black;
    }
    .number {
      display: none;
    }
    .bottom-menu ul {
      width: 80%;
    }
    .bottom-menu li {
      /* opacity: 0; */
    }
    .burger div {
      width: 25px;
      height: 5px;
      background-color: white;
      margin: 5px;
    }
    .bottom-menu {
      justify-content: flex-end;
      padding-right: 50px;
    }
    body, main  {
      overflow-x: hidden;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }