* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
h1 {
  text-align: center;
  margin: 0 auto;
}
body {
  display: flex;
  flex-flow: column;
  font-size: 16px;
}




/************** PRODUCT PAGE ****************/
.product-box {
  width: 250px;
  height: 250px;
  background-color: grey;
  margin: 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.product-box button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.product-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/**************** SERVICES SECTION HOME PAGE ***************/
.services {
  background-color: lightgrey;
    width: 90%;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
}




/******************* REQUEST A QUOTE PAGE ********/
.form-container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
   margin-top: 20px;
}
.request-quote {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin: 0 auto;
  min-height: 600px;
}
.request-quote labels, .request-quote input {
  max-width: 250px;
  margin-bottom: 5px;
}

/************** DESKTOP STYLES *****************/

@media only screen and (min-width: 1030px) {
  .bottom-menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  align-items: center;
}
.top-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-carousel, .products, .services {
  max-width: 1200px;
}

.product-container {
  justify-content: center;
  align-items: center;
  min-height: 800px;
}
}